fastapi==0.115.0
python-dotenv==1.0.1
uvicorn[standard]==0.30.6
sqlalchemy==2.0.34
psycopg[binary]==3.2.9
pydantic==2.9.2
pydantic[email]==2.9.2
python-jose==3.3.0
PyJWT==2.9.0
scikit-learn==1.5.2
pandas==2.2.3
numpy==2.1.1
scipy==1.14.1
joblib==1.4.2
cryptography==43.0.1
Pillow==11.0.0
python-multipart==0.0.12
pytesseract==0.3.13
beautifulsoup4==4.15.0
readability-lxml==0.8.4.1
faster-whisper==1.2.1
requests==2.32.3
